@page "{id:int?}"
@using Lakehouse.Models
@model Lakehouse.Pages.App.ReservationModel
@{
    ViewData["Title"] = "Reservation";
    Layout = Model.SessionUser.UserRole == Role.Host ? "~/Pages/layouts/_AdminLayout.cshtml" : "~/Pages/layouts/_AppLayout.cshtml";
}
<link href='~/lib/calendar/fullcalendar.min.css' rel='stylesheet' />
<link href='~/lib/calendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<h2>Reservation</h2>
<em>Choose a start and end date below</em>
<br />
<br />
<span class="alert-danger">@Model.Message</span>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-horizontal">
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label col-md-5"></label>
                    <div class="col-md-7">
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label col-md-5"></label>
                    <div class="col-md-7">
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <input type="submit" value="Create Reservation" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div id='calendar'></div>
    </div>
</div>
<script src='~/lib/calendar/moment.min.js'></script>
<script src='~/lib/calendar/fullcalendar.min.js'></script>

<script>

    $(document).ready(function() {

        var today = new Date();
        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();

        var convert = (date) => {

            date = date.substring(0, date.indexOf(" "));
            date = date.split('/');


            return date[2] + '-' + date[0] + '-' + date[1];

        }

        var reservations = [];

        @foreach (var r in Model.Reservations)
        {
            @:reservations.push({
            @:url: "@(r.User.Name == Model.SessionUser.Name ? $"/App/Reservation/{r.ReservationId}" : "")",
            @:title:  "@(r.User.Name == Model.SessionUser.Name ? r.User.Name : "Reserved")",
            @:start: convert("@r.StartDate"),
            @:end: convert("@r.EndDate")
            @:});
        }
        console.log(reservations);

        $('#calendar').fullCalendar({
            defaultDate: date,
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: reservations
        });

    });

</script>
